#navbar {
  /*color: #174446 !important;*/
  background-color: #ff6666 !important;

}
#navbar a {
  /*color: #174446 !important;*/

  color: white;
}

/*.success {
  background-color: #ff6666 !important;
}*/
