<nav id="navbar" class="navbar navbar-expand-md navbar-light">
  <a class="navbar-brand ml-5" routerLink="/">Teachers Planner</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse mr-5" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/">Home</a>
      </li>
      <li class="nav-item" *ngIf="auth">
        <a class="nav-link" routerLink="/admin">Admin</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/about">About us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/contact">Contact us</a>
      </li>
      <li class="nav-item" *ngIf="!auth">
        <a class="nav-link" routerLink="/signin">Sign in</a>
      </li>
      <li class="nav-item" *ngIf="auth">
        <a class="nav-link" href="" data-toggle="modal" data-target="#modalUser">Profile</a>
        <app-profile></app-profile>
      </li>
    </ul>
  </div>
</nav>
