<h1>Frequent questions</h1>

<div class="accordion" id="accordion">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne"
          aria-expanded="true" aria-controls="collapseOne">
          Who can present the teaching contest?
        </button>
      </h2>
    </div>

    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
        Higher normalists, education graduates, professionals from other areas, education specialists, people with
        master's degrees and doctorates interested in being part of the Colombian teaching can be presented.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingTwo">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse"
          data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          What will the teaching contest test evaluate?
        </button>
      </h2>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
      <div class="card-body">
        The teachers who participate in this call will be evaluated through a test of basic skills and competencies, as
        well as through a psychotechnical test. According to the announcement, the basic skills and competences test is
        intended to assess the levels of knowledge of the discipline, abilities and skills, aptitudes that the
        applicants of the public merit contest demonstrate.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingThree">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse"
          data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          What areas does the test assess?
        </button>
      </h2>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
      <div class="card-body">
        The test that will be applied to the applicants will evaluate: Mathematical reasoning, critical reading,
        Pedagogy, psychotechnical or behavioral and the area or position to which they aspire to be appointed.
      </div>
    </div>
  </div>
</div>
