<app-navbar></app-navbar>

<div class="container">
  <div class="row mt-5">

    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
      <img src="/assets/img/registered-teachers-2020.svg" class="d-block w-100">
    </div>

    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
      <app-table-report></app-table-report>
    </div>

    <app-teacher-registration></app-teacher-registration>
    <app-program-registration></app-program-registration>
  </div>
</div>

<app-footer></app-footer>
