.btn-primary {
  color: #fff;
  background-color: #ff6666;
  border-color: #ff6666;
}

.btn-primary:hover {
  background-color: #f94747 !important;
  border-color: #f94747 !important;
}

h1 {
  font-weight: bold;
}
