<app-navbar></app-navbar>

<div class="container mt-5 mb-5">
  <div class="row">
    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
      <h1>About</h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta ab rerum in ex expedita, blanditiis id mollitia dignissimos et modi a commodi sit, animi tempora, repellat corporis sed iste! Libero?</p>
    </div>
    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
      <img src="assets/img/illustrations/scene-3.svg" class="d-block w-100">
    </div>
  </div>
  <section class="text-center">
    <h1>A los clientes les encanta</h1>
    <p>El resultado final de nuestra fórmula en acción. Vea lo que nuestros clientes
      tienen que decir sobre nuestra aplicación móvil y nuestro equipo de soporte.</p>
  </section>

  <section class="text-center">
    <h1>Preguntas frecuentes</h1>
    <app-frequent-questions></app-frequent-questions>
  </section>
</div>

<app-footer></app-footer>
