<app-navbar></app-navbar>

<div class="container mt-5 mb-5">
  <div class="row">
    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
      <h1>About</h1>
      <p>Since 1994, we serve our clients in Medellín, Antioquia with the desire to serve in a timely manner, at the right price. The values ​​that have guided our activity in all these years are our letter of introduction and are our commitment to our clients to make Teachers Planner a company with high standards of service and seriousness. Teachers Planner is a company committed to service. We are a group of professionals who offer a quick solution to your technological need.</p>
    </div>
    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
      <img src="assets/img/illustrations/scene-3.svg" class="d-block w-100">
    </div>
  </div>

  <section class="text-center mt-5">
    <h1>Customers love it</h1>
    <p>The end result of our formula in action. See what our customers have to say about our mobile app and our support team.</p>
  </section>

  <section class="text-center mt-5">
    <app-frequent-questions></app-frequent-questions>
  </section>
</div>

<app-footer></app-footer>
