<app-navbar></app-navbar>

<div class="container">
  <h1>About us</h1>
  <br><br>

  <div>
    <h2>Founded</h2>
    <hr>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia non consequuntur officia corrupti ad totam,
      repudiandae eveniet iusto error ex impedit velit provident reiciendis atque. Suscipit repudiandae odit veritatis
      est.
    </p>
  </div>

  <div>
    <h2>View</h2>
    <hr>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia non consequuntur officia corrupti ad totam,
      repudiandae eveniet iusto error ex impedit velit provident reiciendis atque. Suscipit repudiandae odit veritatis
      est.
    </p>
  </div>

  <div>
    <h2>Mission</h2>
    <hr>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia non consequuntur officia corrupti ad totam,
      repudiandae eveniet iusto error ex impedit velit provident reiciendis atque. Suscipit repudiandae odit veritatis
      est.
    </p>
  </div>

</div>

<app-footer></app-footer>
